
<p>
  <strong>Name:</strong>
  <%= @abet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @abet.description %>
</p>

<hr>
<% if current_account.admin? %>
<%= link_to 'Edit', edit_abet_path(@abet) %> |
  <% end %>
<%= link_to 'Back', abets_path %>
