@import "bootstrap-sprockets";
@import "bootstrap";

th, td {

}


.col-centered{
  float: none;
  margin: 0 auto;
}

.notice {
  color: red;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 0px;
}

body {

}
